{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2 style="color: #ffffff;">Stock Quote</h2>
    <form action="{{ url_for('quote') }}" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" id="symbol" placeholder="Enter stock" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
    {% if quote %}
        <br>
        <h3>{{ quote['name'] }} ({{ quote['symbol'] }})</h3>
        <p>Price: {{ quote['price']|usd }}</p>
    {% endif %}
{% endblock %}
