{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <!-- SellInput -->
    <h1 id="title">Sell</h1>
    <br>
    <form action="/sell" method="post" id="sell-form">
        <!-- Symbol Input -->
        <div class="form-group">
            <label for="symbol" id="title">Symbol</label>
            <select class="form-control" id="symbol" name="symbol" required>
                <option value="">Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <!-- Share Input -->
        <div class="form-group">
            <label for="shares" id="title">Shares</label>
            <input class="form-control" id="shares" type="number" name="shares"  min="1" placeholder="Number of shares" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
