/* At least 5 different Properties */

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.center-screen h1 {
    font-size: 4rem;
}

.navbar {
    height: auto; /* Use auto to adjust based on content */
    padding: 10px 0;
}

.navbar-brand, .nav-link {
    font-size: 1.5rem; /* Adjusted for better readability on all devices */
    margin-right: 20px;
}

.nav-item a {
    color: #343a40;
}

#id {
    width: 20px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.responsive-width {
    width: 100%;
    max-width: 25%;
    height: auto;
}

.center-text {
    text-align: center;
}

@media (max-width: 768px) {
    .center-screen {
        height: auto;
        padding: 20px;
    }

    .center-screen h1 {
        font-size: 2rem;
    }

    .navbar-brand, .nav-link {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}
